#Edit {
  max-width: 800px;
  @include gloss-bg;
  margin: auto;

  h3 {
    color: rgb(192,192,192);
  }

  table {
    max-width: 400px;
    border-spacing: 0;
    tr {
      th {
        a {
          @include debug-box;
          line-height: 1.5rem;
          color: rgb(236,236,252);
          display: block
        }
      }
      td {
        font-size: 1.5rem;
        input {
          background: rgb(30,31,33);
          font-size: 1.25rem;
          line-height: 1.25rem;
        }
        &.Tags {
          font-size: 1rem;
          p {
            color: red;
          }
        }
      }
    }
  }
}
