header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  display: flex;
  justify-content: center;

  nav {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    width: calc(100dvw - 2rem);
    margin: $nav-gap;
    grid-gap: $nav-gap;

    // all items
    a, button {
      @include gloss-bg;
      padding: $nav-gap 8px;
      line-height: $nav-link-height;
      color: rgb(236,236,236);
      line-height: $nav-link-height;
    }

    .Left {
      display: flex;
      grid-gap: 4px;
      a {
        padding: 0 8px;
        &:first-of-type {
          padding: 0 12px;
          font-size: 1.5rem;
        }
      } // a
    } // Left

    .Right { 
      button {
        font-size: 1.4rem;
        color: rgb(192,192,192);
        &:hover, &.Open { color: rgb(242,242,242) }
      }
    } // Right

  } // nav
}