@import
  'reset',
  'variables';

@import
  'header',
  'list',
  'edit',
  'modal',
  'loading',
  'background',
  'settings';

@font-face {
  font-family: 'Joystix';
  src: url('/assets/Joystix.otf') format('opentype');
}

html { 
  font-family: 'Joystix', monospace;
}

body {
  display: grid;
  min-height: 100dvh;
  align-items: center;
  background: rgb(0,0,0);
}
