#Modal {
  width: 100dvw;
  position: fixed;
  z-index: 6;
  top: $header-height;
  right: 0;

  .Container {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: flex-end;

    .Login {
      display: grid;
      width: 100%;
      @include gloss-bg;
      background: rgba(20,20,20,0.5);
      max-width: 400px;
      text-align: center;
      grid-gap: 4px;
      padding: 24px;
      box-shadow: 0 0 2px 1px rgba(216,216,216,0.2) inset;

      .Error {
        line-height: 1rem;
        font-size: 0.8rem;
        color: rgb(204,182,182);
      }

      input {
        text-align: inherit;
        grid-column: 1 / span 2;
        font-size: 1.2rem;
        width: 100%;
        box-shadow: 0 0 0px 2px rgba(92,92,92,0.4) inset;
        margin: auto;
        font-size: 1.4rem;
        line-height: 2.4rem;
      }

      button {
        font-size: 1.4rem;
        line-height: 3.2rem;
        width: 100%;
        margin: auto;
        color: rgb(216,216,216);
        &:hover {
          color: rgb(256,256,256);
          background: rgba(252,252,252,0.1);
        }
      }
    } // Login

    .Options {
      display: grid;
      @include gloss-bg;
      padding: 8px 0;
      a, button {
        font-size: 1.25rem;
        line-height: 2.5rem;
        min-width: 120px;
        padding: 0 24px;
        color: rgb(192,192,192);
        &:hover {
          color: rgb(242,242,242);
        }
      }
    } // Options

  } // Cointainer
} // Modal
