.Home {
	width: 100%;
	max-width: 620px;
	margin: auto;
	backdrop-filter: blur(24px) saturate(0.6);

	a {
		font-size: 1.6rem;
		line-height: 2.8rem;
	}

	table {
		width: 100%;

		tr {
			line-height: 2.4rem;
			font-size: 1.2rem;
		}
	}


}
