.Categorized {
  .Content {
    .Category {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 900px;
      margin: 4px auto;
      width: calc(100% - 1.2rem);
      @include gradient-rows;

      &:hover {
        .Title {
          letter-spacing: 3px;
          color: rgb(252,252,252);
        }
      }

      .Title {
        line-height: 1.8rem;
        font-weight: 200;
        letter-spacing: 2px;
        font-size: 1.8rem;
        width: 100%;
        text-align: center;
        margin-top: 8px;
        text-indent: 1rem;
        color: rgb(192,192,192);
        transition: 0.35s all ease-out;
      }

      a {
        font-size: 1.2rem;
        margin: 2px;
        padding: 2px 12px;
        border-radius: 8px;
        @include link-style;
      }

    } // Category
  } // Content
}