.Generic {
  width: 100%;
  margin: 0 auto;
  display: grid;

  header {
    display: flex;
    justify-content: center;
    white-space: nowrap;
    grid-gap: 1rem;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    overflow: auto;
    background: rgba(30,31,33,0.6);
    backdrop-filter: blur(42px) saturate(1.6);
    .Title, .Date { line-height: 2.4rem; }
    .Title { font-size: 1.8rem }
    .Date { color: rgb(172,172,172); }
  } // header

  .Content {
    @include ios-scroll;
    // padding: 1rem 0;
    overflow: auto;
    padding: 1rem 0;
  } // Content

  .Back {
    position: sticky;
    bottom: 0;
    display: block;
    backdrop-filter: saturate(0.2) blur(24px);
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.6rem;
    line-height: 2rem;
  } // Back
}