.Generic {
  @include glossy-box;
  border-radius: 8px;
  width: calc(100dvw - 1.8rem);
  margin: 0 auto;
  max-width: 1440px;

  header {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    padding: 0 2.2rem;
    grid-gap: 8px;
    border-radius: 8px 8px 0 0;
    overflow: auto;
    .Title, .Date { line-height: 2rem; }
    .Title { font-size: 1.8rem }
    .Date { color: rgb(172,172,172); }
  } // header

  .Content {
    @include ios-scroll;
    padding: 1rem 0;
    max-height: calc(100dvh - 7.6rem);
    overflow: auto;
    display: grid;
    width: 100%;
    padding: 1rem 0;
  } // Content

  .Back {
    position: sticky;
    bottom: 0;
    display: block;
    text-align: center;
    font-size: 1.6rem;
    line-height: 2rem;
    padding-bottom: 0.4rem;
    border-radius: 0 0 6px 6px;
  } // Back
}