.List {
  .Content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    
    a, .Back {
      min-width: 60px;
      text-align: center;
      padding: 8px 2rem;
      margin: 0.5px;
      font-size: 1.2rem;
      background: rgba(30,31,33,0.8);
      backdrop-filter: blur(24px);
      @include link-style;
    }
  }
}