// -- Default --
html { 
  font-family: Courier New, Lucida Console, Monaco;

  background: linear-gradient(45deg,
    rgb(30,31,33) 0%,
    rgb(30,31,33) 33%,
    rgb(30,31,33) 66%,
    rgb(30,31,33) 100%
  );
  background: rgb(30,31,33);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body, h2, h3, p {
  margin: 0;
}

a {
  font-size: 1.2rem;
  text-decoration: unset;
  text-align: center;
  color: rgb(212,212,215);
  &:hover {
    color: rgb(222,252,242);
  }
}

button { cursor: pointer; }

button, input {
  background: unset;
  border: unset;
  padding: unset;
  outline: unset;
  color: rgb(252,252,252);
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -2;
  width: 100dvw;
  height: 100%;
  object-fit: cover
}

// -- Variables --
$gradient-even: linear-gradient(-45deg,
  rgba(37,37,37,0.1) 0%,
  rgba(38,38,38,0.3) 22%,
  rgba(38,38,38,0.5) 100%
);

$gradient-odd: linear-gradient(125deg,
  rgba(37,37,37,0.1) 0%,
  rgba(28,28,28,0.3) 22%,
  rgba(28,28,28,0.3) 22%,
  rgba(28,28,28,0.5) 100%
);

$gradient-hover: linear-gradient(125deg,
  rgba(37,37,37,0.24) 0%,
  rgba(28,28,28,0.6) 33%,
  rgba(28,28,28,0.6) 66%,
  rgba(28,28,28,0.36) 100%
);

$gradient-selected: linear-gradient(125deg,
  rgba(37,37,37,0.4) 0%,
  rgba(32,32,32,0.8) 50%,
  rgba(32,32,32,0.8) 50%,
  rgba(37,37,37,0.4) 100%
);

$nav-y: calc(42px + 1dvw);

// -- Mixins --
@mixin debug-box {
  box-shadow: 0 0 3px 1px rgba(255,0,152,0.9) inset;
}

@mixin gloss-bg {
  background: rgba(30,31,33,0.6);
  backdrop-filter: blur(24px) saturate(0.8);
}

@mixin alt-bg {
  &:nth-of-type(odd) { background: $gradient-odd }
  &:nth-of-type(even) { background: $gradient-even }
  transition: 0.15s all ease-in-out;
  &:hover { background: $gradient-hover }
  &:active { background: $gradient-selected }
}


// -- Root container --
body {
  min-height: 100dvh;

  nav {
    position: fixed;
    display: flex;

    bottom: 0;
    z-index: 4;
    @include gloss-bg;
    border-radius: 0 8px 0 0;
    transition: 0.3s all ease-in-out;

    a {
      font-size: 2.4rem;
      line-height: $nav-y;
      color: rgba(255,255,255,0.5);
      box-shadow: 0 0 0 0 rgba(252,252,252,0) inset;
      padding: 0.5rem 8px;
      transition: 0.15s all ease-in-out;
      &.Open {
        font-size: calc($nav-y - 4px);
        line-height: calc($nav-y + 1rem);
        color: rgba(255,255,255,1);
        padding: 0 8px;
        text-shadow: 0px 2px 2px rgba(30,31,33,0.8);
      }
    } // a
  } // nav

  main {
    display: grid;
    min-height: calc(100dvh - $nav-y);
    align-content: center;

    #Home {
      text-align: center;
      color: rgb(242,242,242);
      h2 {
        font-weight: 100;
        font-size: 1rem;
        color: rgb(192,192,192);
      }
    }

    #Playlist {
      display: grid;
      @include gloss-bg;
      margin: auto;
      border-radius: 8px;
      button {
        width: calc(100dvw - 20px);
        max-width:600px;
        font-size: 2rem;
        line-height: 4rem;
      }

      iframe {
        border: unset;
        border-radius: 4px;
        height: calc(100dvh - 8rem);
        width: calc(100dvw - 4rem);
        max-width: 1600px;
        max-height: 900px;
        box-shadow: 0 0 3px 1px rgba(20,20,20,1);
      }
    } // Playlist

    #Post {
      display: grid;
      @include gloss-bg;
      max-width: calc(400px + 1dvw);
      margin: auto;
      width: calc(100dvw - 2rem);
      padding: 8px 8px 0 8px;
      border-radius: 8px;

      h2 {
        font-weight: 600;
        color: rgb(192,192,192);  
        font-size: 1.2rem;
        line-height: 1.2rem;
        padding: 0 4px;
      }
      p {
        text-indent: 4px;
        padding: 0 8px;
        font-size: 1.2rem;
        color: rgb(242,242,242);
        font-weight: 100;
        font-size: 1rem;
      }

      &.Browser {
        display: grid;
        @include gloss-bg;
        border-radius: 8px;
        max-width: 500px;
        margin: auto;
        width: calc(100dvw - 2rem);
       
        h2 {
          letter-spacing: 2px;
          font-size: 1rem;
          line-height: 1rem;
        }
       
        a {
          font-size: 1.8rem;
          line-height: 2.6rem;
        }
      }

      &.Bands {
        padding: 8px 24px 0 24px;
        border-radius: 8px;
        max-width: 400px;
       
        h2 {
          text-align: center;
          line-height: 2rem;
          color: rgb(128,128,128);
          &:hover { color: rgb(182,182,182); }
        }
       
        .Band {
          display: flex;
          justify-content: space-between;
          @include alt-bg;
          h3, p {
            width: 50%;
            text-align: center;
            text-shadow: 0 0 2px rgba(0,0,0,0.4);
          }
          h3 {
            font-weight: 200;
            color: rgb(192,192,192);
            letter-spacing: 2px;
          }
        }
      } // Bands

      &.Drone {
        section {
          padding: 4px 0;
          &:hover {
            h2 {
              color: rgb(192,192,192);
            }
          }
          h2 {
            font-size: 1.2rem;
            line-height: 1.2rem;
            color: rgb(129,129,129);
            transition: 0.15s color ease-in;
          }
          p {
            text-indent: 4px;
            padding: 0 8px;
          }
        }
      } // Drone
    }
    
    #Links {
      display: flex;
      flex-wrap: wrap;
      @include gloss-bg;
      justify-content: space-around;
      max-width: 720px;
      width: calc(100dvw - 2rem);
      margin: auto;
      border-radius: 8px;
      a {
        line-height: 2rem;
        font-size: 1.25rem;
        min-width: 94px;
        padding-right: 8px;
        &:first-of-type { min-width: 42px; }
      }
      &.Browser {
        display: grid;
        border: 3px solid rgb(99,99,99,0);
        text-align: center;
        max-width: 400px;
        transition: 0.2s all ease-in-out;
        @media (hover: hover) { &:hover {
          border: 3px solid rgb(99,99,99,0.2);
          background: rgba(30,31,33,0.8);
        }}
        a {
          width: calc(100dvw - 24px);
          max-width: 600px;
          font-size: 2rem;
          line-height: 3rem;
        }
      }
    } // Links

    #Shop {
      display: grid;
      justify-content: center;
      text-align: center;
      @include gloss-bg;
      max-width: 400px;
      border-radius: 8px;
      width: calc(100dvw - 24px);
      margin: auto;
      button {
        font-size: 2rem;
        line-height: 4rem;
      }
      h2 {
        font-size: 2rem;
        line-height: 4rem;
        color: rgb(192,192,192);
      }
    } // Shop

    #Daw {
      width: calc(100% - 16px);
      margin: auto;

      header {
        display: flex;
        justify-content: space-evenly;
        backdrop-filter: blur(72px) saturate(0.4);
        background: rgba(30,31,33,0.4);
        max-width: 400px;
        margin: auto;
        width: 100%;
        height: 2rem;
        button { &.Open { text-decoration: underline; } }
      }

      .Instrument {
        #Sampler, #Synth {
          width: calc(100dvw - 24px);
          max-width: 400px;
          margin: 0 auto;
          backdrop-filter: blur(48px) saturate(0.2);
        }
        #Sampler {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          h3 {
            color: rgb(216,216,216);
            padding: 0 8px;
            font-size: 1rem;
            grid-column: 1 / span 3;
          }
          button {
            background: rgba(30,31,33,0.3);
            line-height: 2rem;
            font-size: 1.15rem;
            padding: 1rem 0;
            color: rgb(216,216,216);
          }
        }

        #Synth {
          max-width: 400px;
          background: rgba(30,31,33,0.3);
          .Config {
            color: rgb(220,228,228);
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
          }
          table {
            width: 100%;
            color: rgb(192,192,192);
          }
        }
      }
    } // Daw

    #Settings {
      display: grid;
      @include gloss_bg;
      max-width: 600px;
      width: calc(100% - 1rem);
      grid-gap: 8px;
      padding: 8px 0 10px 0;
      border-radius: 8px;
      margin: auto;
      .Setting {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        label, button {
          line-height: 2rem;
          padding: 0 2px;
        }

        label {
          font-size: 1.6rem;
          color: rgb(252,252,252);
        }

        button {
          font-size: 1.2rem;
        }

        input {
          text-align: center;
          width: 100%;
          color: rgb(192,192,192);
          font-size: 0.9rem;
          &:hover { color: rgb(242,242,242); }
        }
      }
    } // Settings
  }

} // body
