

.Compound {
	margin: 0 auto;
	backdrop-filter: blur(48px);

	font-size: 2.4rem;
	line-height: 2.4rem;
	width: calc(100% - 4px);
	max-width: $max-w;
	color: rgba(252,252,252,0.75);

	border-radius: 8px 8px 0 0;
	text-shadow: 0 0 2px rgba(0,0,0,0.3);
	box-shadow: 0 0 1px 1px rgba(80,80,80,0) inset;

	a {
		display: block;
		text-align: center;
		position: absolute;
		width: 100%;

		&.Title { text-shadow: 0 0 2px rgba(30,31,33,0.5) }

		&.Exit {
			padding-bottom: 2px;
			font-size: 2rem;
			background: rgba(30,31,33,1);
			border-radius: 0 0 8px 8px;
		}
	}

}
