main {
	display: grid;
	text-align: center;
	width: calc(100% - 4px);
	max-width: $max-w;
	margin: 0 auto;
	padding: 2px 0;
	// @include debug-outline;

	.Row {
		@include bg-blur;
		width: calc(100% - 16px);
		margin: 0 auto;
		font-size: 2rem;
		line-height: 2.4rem;
		padding: 0.4rem 0;
		color: rgba(252,252,252,0.75);

		text-shadow: 0 0 2px rgba(0,0,0,0.3);
		box-shadow: 0 0 1px 1px rgba(80,80,80,0) inset;

		&.Smol { font-size: 1.8rem }
		&.List { font-size: 1.25rem }

		letter-spacing: 0;
		@include alt-bg-color;
		&:hover {
			letter-spacing: 1px;
			max-width: $max-w-hover;
			width: 100%;
			color: rgba(252,252,252,1);
			box-shadow: 0 0 1px 1px rgba(80,80,80,0.4) inset;
		}
	} // Row

	// Jobs table
	table {
		border-spacing: 0;
		backdrop-filter: blur(48px);

		tr {
			line-height: 2.5rem;
			font-size: 1.15rem;
			background: linear-gradient(-45deg,
				rgba(37,37,37,0.1) 0%,
				rgba(38,38,38,0.3) 56%,
				rgba(38,38,38,0.5) 100%
			);
			&:nth-child(2n) {
				background: linear-gradient(125deg,
					rgba(37,37,37,0.1) 0%,
					rgba(28,28,28,0.3) 42%,
					rgba(28,28,28,0.5) 100%
				);
			}
			&:first-of-type {
				top: 0;
				position: sticky;
				line-height: 1.25rem;
				font-size: 1rem;
				background: rgb(30,31,33);
				color: rgb(216,216,216);
			}
			
			td { color: rgba(252,252,252,0.8) }

		} // tr
	} // table

	.Exit {
		position: sticky;
		bottom: 0;
	}
}