* {
	font-family: monospace, sans-serif;
	-moz-osx-font-smoothing: grayscale;
}

html {
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: 100%;
	color: rgb(252,252,252);
}

body {
	height: 100vh;
	display: grid;
	align-items: center;
	margin: 0
}

a { text-decoration: none }

h1, h2, h3, h5 { margin: 0 }

button { cursor: pointer }

a, button {
	color: rgb(232,232,232);
	&:hover {
		color: rgb(242,242,252);
	}
}

input, button {
	padding: unset;
	margin: unset;
	outline: unset;
	border: unset;
	background: unset;
	text-align: center;
	border-radius: unset;
}

.Loading {
	position: fixed;
	top: 0rem;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	
	img {
		opacity: 0.4;
		height: 60dvh;
		max-width:100dvw;
	}
}

