header {
    height: $header-height;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 8px;
    padding: 4px 8px;

    section {
      @include bg-blur;
      border-radius:4px;
      background: rgba(60,61,63,0.4);
      box-shadow: rgba(0,0,0,0.3) 0px 4px 8px -2px;
      transition: all 0.2s ease;

      &:hover {
        background: rgba(50,51,53,0.6);
        box-shadow: rgba(0,0,0,0.3) 0px 2px 4px -1px;
      }

      &.Project {
        cursor: default;
        padding: 0 8px;
        h2 {
          text-align: center;
          line-height: $header-height;
          font-size: 1.25rem;
        }
      }

      &.Volume {
        display: flex;
        padding: 8px;

        label {
          line-height: calc($header-height - 16px);
          text-align: center;
          button {
            cursor: pointer;
            font-size: 1.2rem;
            opacity: 0.5;
            transition: all 0.2s ease-in;
            &:hover, &:focus, &:active { opacity: 1 }
          }
          &:last-of-type {
            min-width: 64px;
          }
        } // label
      } // Volume

      &.Windows {
        display: flex;
        justify-content: space-evenly;
        grid-gap: 8px;
        padding: 0 16px;

        button {
          cursor: pointer;
          font-size: 1.25rem;
          margin: calc($header-height / 6) 0;
          padding: 0 4px;
          height: calc($header-height / 1.5);
          color: rgb(212, 212, 212);

          &:hover { color: rgb(252,252,252) }

          &.Open {
            color: rgb(252,252,252);
            text-decoration: underline;
          }
        }
      }
    }
  }