#Sampler {
  max-width: 400px;
  margin: 0 auto;
  .Config {
      display: flex;
      justify-content: center;

      button {
        cursor: pointer;
        font-size: 1rem;
        line-height: 1rem;
        padding: 0.5rem 8px;
        color: rgb(212,212,212);
        &.Editing {
          color: rgb(252,216,216);
        }
      }
    }

  .Samples {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(3, 1fr);

    .Sample {
      cursor: pointer;
      line-height: 1.25rem;
      padding: 1.5rem 0;
      text-align: center;
      @include alternate-bg-row;
      box-shadow: 0 0 3px 1px rgba(72,72,72,0.3) inset;
      transition: background 0.2s ease-in-out;
      &:hover {
        background: rgba(92,92,92,0.4);
      }

      &.Editable {
        box-shadow: 0 0 3px 2px rgba(92,72,72,0.8) inset;
      }
    }
  }
}