#Synth {
  
  .Config {
    display: grid;
    grid-gap: 4px;
    padding: 4px 0;
    background: $gradient-even;
    &:first-of-type { border-radius: $inner-b-radius $inner-b-radius 0 0; }

    .Row {
      display: flex;
      justify-content: space-around;

      .Group {
        display: flex;
        grid-gap: 2px;
      }

      .Setting {
        display: flex;
        
        &.Oscillator {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        }

        label {
          color: rgb(218,218,218);
          padding: 0 4px;
        }

        select {
          color: rgb(232,232,232);
          text-align: center;
          font-size: 1rem;
        }

        option {
          width: 100%;
          font-size: 1.1rem;
          color: rgb(252,252,252);
          background-color: rgb(30,31,33);
        }
      } // Setting
    }
  } // Config

  table {
    border-collapse: collapse;
    text-align: center;
    width: 100%;

    tr {
      @include alternate-bg-row;
      td {
        @include no-select;
        cursor: pointer;
        font-size: clamp(0.6rem, 2dvw, 1.15rem);
        line-height: 2.8rem;
        transition: background 0.15s ease;
        &:hover, &.Playing { background: rgba(80,81,83,0.6); }
      }

      th {
        cursor: default;
        font-size: 1rem;
        line-height: 1rem;
        color: rgba(212,212,212,0.2);
        &:hover { color: rgba(212,212,212,0.6); }
        &:first-of-type { border-radius: 0 0 0 $inner-b-radius; }
        &:last-of-type { border-radius: 0 0 $inner-b-radius 0; }
      }
    }
  }
}