
.Metabolic.View {
	
	.Tabs {
		display: flex;
		justify-content: center;
		@include bg-blur;
		background: rgba(30,31,33,0.3);

		button {
			font-size: 1.5rem;
			line-height: 2.4rem;
			min-width: 33%; 
			text-shadow: 0 0 8px rgba(0,0,0,0.4);

			&.Selected {
				color: rgb(252,252,252);
				text-decoration: underline;
				text-shadow: 0 0 8px rgba(0,0,0,0.6);
			}
		}
	}

	.Totals {
		@include bg-blur;
		padding: 24px 0;

		// Analytics and Activity table
		table {
			// width: 100%;
			margin: 0 auto;
			background: rgba(30,31,33,0.4);

			tr {
				cursor: default;
				font-size: 1.15rem;
				line-height: 2rem;
				// td { line-height: 1.25rem }
			}

			.Quantity { padding: 0 12px }
		}
	}
}
