.SpaceObject {
	display: grid;
	margin: auto;
	text-align: center;

	color: rgb(252,252,252);
	background: rgba(30,31,33,0.3);

	max-width: 600px;
	width: calc(100dvw - 4px);
	margin: 24px auto;
	@include bg-blur;
	border-radius: 8px 8px 0 0;

	img {
		margin: auto;
		border-radius: 4px;
		width: min(100%, 200px);
		height: auto;
	}

	.Name {
		font-size: 2.4rem;
		line-height: 3.2rem;
	}

	.Info {
		font-size: 1rem;
		padding: 0.5rem 2rem 0.15rem 2rem;
		line-height: 1.15rem;
	}

	.Stats {

		.Orbit, .Atmosphere {
			width: 100%;
			.Title {
				text-align: center;
				background: rgb(30,31,33,0.5);
			}
		}

		.Orbit {
			display: grid;
			margin: 0 auto;

			a {	
				font-size: 1.2rem;
				line-height: 2rem;
				transition: 0.1s all linear;
				&:hover {
					color: rgb(252,252,252);
					letter-spacing: 1px;
				}
			}

			.Stat {
				display: flex;
				justify-content: space-evenly;
				background: rgb(30,31,33,0.3);

				// Orbit stat 
				h5 {
					line-height: 1.5rem;
					font-size: 1rem;
					cursor: default;
					color: rgb(216,216,216);
					&:hover { color: rgb(232,232,232) }
				}
			}
		} // Orbit

		.Atmosphere {
			display: grid;
			margin: 0 auto;

			.Compounds {
				display: grid;

				max-height: calc(1rem * 4);
				background: rgba(30,31,33,0.3);
				overflow: auto;

				h5 {
					padding: 0 16px;
					line-height: 1rem;
					font-size: 0.8rem;
				}
			} // Compounds
		} // Atmosphere Stat

	} // Stats

	.Back {
		margin: 0 auto;
		display: block;
		width: 100%;
		font-size: 1.6rem;
		line-height: 2.2rem;
		border-radius: 0 0 8px 8px;

		background: rgba(35,36,38,0.5);
		color: rgba(252,252,252,0.75);
		position: sticky;
		bottom: 0;

		&:hover {
			color: rgba(252,252,252,1);
		}
	}

}