
.Metabolic.Create {
	
	.Search, .Results, .DataViewer { @include bg-blur }

	.Search {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		background: rgba(30,31,33,0.5);

		input {
			font-size: 1.2rem;
			line-height: $search-y;
		}
	} // search

	// All tables
	.Results, .Data {
		height: $table-height;
		overflow: auto;

		table {
			width: 100%;
		}
	} // Results

	.Results {

		.Compounds {
			tr {
				font-size: 1.25rem;
				line-height: 2rem;

				td {
					padding: 0 12px;
				}
			}
		} // Compounds table only

		.Foods {
			tr {
				.Nutrients {
					display: block;
					max-height: 6rem;
					overflow-y: scroll;

					p {
						font-size: 1rem;
						line-height: 1.25rem;
					}
				} // Nutrients cell
			} // tr
		} // Foods table only

		.NoResults {
			background: rgba(30,31,33,0.3);
			h2 {
				color: rgb(192,192,192);
				text-shadow: 0 0 2px rgba(0,0,0,0.8);
				font-size: 2.2rem;
				line-height: calc($table-height - 6px);
			}
		}

	} // Results

	.DataViewer {
		tr {
			line-height: 2.25rem;

			.Name {
				font-size: 1.2rem;
				width: 50%;
			}

			.Quantity {
				input {
					text-indent: 10px;
					max-width: 80px;
					font-size: 1.2rem;
				}
			}

			.Unit {
				select, p {
					text-align: center;
					min-width: 100%;
					font-size: 1.2rem;
				}
			} // Unit cell
		} // tr
	} // DataViewer table

}
