* {
  font-family: monospace, sans-serif;
  -moz-osx-font-smoothing: grayscale;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

button { cursor: pointer }
input, button {
  padding: unset;
  margin: unset;
  outline: unset;
  border: unset;
  background: unset;
  border-radius: unset;
}

$bg1: rgba(30,31,33,0.33);
$bg2: rgba(30,31,33,0.66);
$bg3: rgba(30,31,33,0.9);

body {
  max-width: 900px;
  margin: auto;
  display: grid;
  align-items: center;
  align-content: center;
  min-height: calc(100dvh - 8px);

  .Glass {
    border: 4px solid $bg2;
    backdrop-filter: blur(48px) saturate(0.6);

    .Bots {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      button {
        font-size: 1.4rem;
        line-height: 2.8rem;
        background: $bg3;

        color: rgb(216,216,216);
        animation: 0.2s all ease-in-out;

        &:hover {
          color: rgba(121,252,132,0.8);
        }
        
        &.Selected {
          background: $bg2;
          color: rgba(32,252,162,1);
          cursor: default;
        }

      } // button
    } // Bots

    input {
      background: $bg2;
      color: rgb(242,242,242);
      font-size: 1.4rem;
      line-height: 2.8rem;
      width: 100%;
      text-align: center;
      &::placeholder { color: rgba(92,92,92,0.6) }
    }

    .Messages {
      display: flex;
      flex-direction: column;
      max-height: calc(100dvh - 8px - 5.6rem);
      overflow: auto;

      .Message {

        p {
          margin: unset;
          font-size: 1.2rem;
          line-height: 1.2rem;
        }

        .Content {
          color: rgba(252,252,252,1);
          padding: 8px 0;
        }

        .Role {
          letter-spacing: 1px;
          text-transform: capitalize;
          color: rgba(216,216,216,0.3);
          text-align: right;
          padding: 0 4px;
        }


        &.user { box-shadow: 0 0 2px 1px rgba(252,0,0,0) inset }
        &.assistant { box-shadow: 0 0 2px 1px rgba(0,252,0,0) inset }
        &.error { box-shadow: 0 0 2px 1px rgba(0,0,252,0) inset }

        // Ombre fade for most recent
        &:nth-last-of-type(1) { background: $bg3 }
        &:nth-last-of-type(2) { background: $bg2 }
        &:nth-last-of-type(3) { background: $bg1 }

      } // Message
    } // Messages
  } // Glass
} // body
