$gradient-even: linear-gradient(45deg,
  rgba(30,31,33,0.3) 0%,
  rgba(30,31,33,0.4) 40%,
  rgba(30,31,33,0.6) 60%,
  rgba(30,31,33,0.3) 100%,
);

$gradient-odd: linear-gradient(145deg,
  rgba(30,31,33,0.3) 0%,
  rgba(30,31,33,0.4) 40%,
  rgba(30,31,33,0.6) 60%,
  rgba(30,31,33,0.3) 100%,
);

$gradient-hover: linear-gradient(125deg,
  rgba(39,39,39,0.24) 0%,
  rgba(30,30,30,0.6) 33%,
  rgba(30,30,30,0.6) 66%,
  rgba(30,30,30,0.36) 100%
);

$gradient-selected: linear-gradient(125deg,
  rgba(37,37,37,0.4) 0%,
  rgba(32,32,32,0.8) 50%,
  rgba(32,32,32,0.8) 50%,
  rgba(37,37,37,0.4) 100%
);

@mixin alt-bg {
  &:nth-of-type(odd) { background: $gradient-odd }
  &:nth-of-type(even) { background: $gradient-even }
  &.Selectable {
    cursor: pointer;
    &:hover { background: $gradient-hover }
    &:active { background: $gradient-selected }
  }
}

* {
  font-family: monospace, sans-serif;
  -moz-osx-font-smoothing: grayscale;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

body, input, button, h2, h3, p {
  margin: 0;
  color: rgb(242,242,242);
}

button { cursor: pointer }

input, textarea, button, select {
  background: unset;
  border: unset;
  margin: unset;
  padding: unset;
  outline: unset;
  border-radius: unset;
}

input, textarea {
  line-height: inherit;
  &::placeholder { color: rgb(162,162,162) }
}

.Modal {
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  z-index: 5;
  display: grid;
  align-items: center;
  justify-content: center;;
  backdrop-filter: blur(8px);
  background: rgba(0,0,0,0.2);

  .Container {
    width: calc(100dvw - 32px);
    max-height: calc(100dvh - 24px);
    overflow: auto;
    max-width: 600px;
    text-align: center;
    z-index: 8;
    border: 2px solid rgba(252,252,252,0.25);
    background: rgba(30,31,33,0.9);
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;

    h2 {
      background: rgb(38,39,41);
    }

    .Actions {
      display: flex;
      grid-gap: 1px;
      position: sticky;
      bottom: 0;

      button {
        width: 100%;
        font-size: 1.25rem;
        line-height: 2rem;
        color: rgb(226,226,226);
        background: rgba(90,90,90,1);
        &:hover { background: rgba(90,90,90,0.8) }
      }
    } // Actions
  } // Container
} // Modal

main {
  max-width: 900px;
  margin: 0 auto;
  backdrop-filter: blur(42px);
  background: rgba(71,72,74,0.4);

  header {
    display: flex; 
    padding: 4px 8px;
    grid-gap: 4px;

    label, input {
      line-height: 2rem;
    }

    label {
      color: rgb(232,232,232);
    }

    input {
      font-size: 1.2rem;
      padding: 0 4px;
      width: 100%;

      &:focus, &:active {
        background: rgba(30,31,33,0.15);
      }
    }
  }

  table {
    width: 100%;
    border-spacing: 0 1px;

    tr {
      @include alt-bg;

      &:first-of-type {
        position: sticky;
        top: 0;
        background: rgb(50,51,53);
      }

      td {

        &.Name {
          text-align: center;
          font-size: 1rem;
        }

        &.Nutrients {
          display: block;
          max-height: 9rem;
          overflow-y: scroll;

          h3 {
            font-size: 1rem;
            text-align: center;
          }

          p {
            font-size: 1rem;
            line-height: 1.2rem;
          } // Nutrients cell
        }
      }
    } // tr
  } // table
} // main
