* {
	font-family: monospace, sans-serif;
	-moz-osx-font-smoothing: grayscale;
}

html {
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: 100%;
	color: rgb(252,252,252);
}

body {
  display: grid;
  height: 100dvh;
  align-items: center;
}

body, h1, h2, h3, h4, h5, p { margin: 0 }

a { text-decoration: none }

a, button {
	cursor: pointer;
	color: rgb(232,232,232);
	&:hover { color: rgb(242,242,252); }
}

input, button {
	padding: unset;
	margin: unset;
	outline: unset;
	border: unset;
	background: unset;
	text-align: center;
	border-radius: unset;
}