@mixin gradient-rows {
  border-radius: 8px;
  &:nth-of-type(odd) { background: $gradient1-odd }
  &:nth-of-type(even) { background: $gradient1-even }
}

@mixin glossy-box {
  backdrop-filter: blur(36px) saturate(0.1);
  background: rgba(30,31,33,0.3);
  box-shadow: rgba(30,31,33,0.6) 0px 14px 36px;
  transition: all 0.22s ease-in-out;
  &:hover {
	  box-shadow: rgba(0,0,0,0.6) 0px 4px 12px;
  }
}

@mixin ios-scroll {
  @supports (-webkit-touch-callout: none) {
    -webkit-overflow-scrolling: touch;
    transform: translate3d(0,0,0);
  }
}

@mixin link-style {
  transition: 0.2s all ease-in-out;
  color: rgb(216,216,216);
  box-shadow: $link-box;
  &:hover {
    color: rgb(252,252,252);
    box-shadow: $link-box-hover;
  }
}

@mixin debug-box { box-shadow: 0 0 3px 1px rgb(252,0,0) inset; }
