
header.View {
	display: flex;
	justify-content: space-around;
	@include bg-blur;
	background: rgba(30,31,33,0.5);
	width: 100%;

	a, h3, button {
		padding: $header-pad 0;
		line-height: $header-line-height;
	}

	a, button { font-size: 1.4rem }
	h3 { font-size: 1.2rem }

	button {
		&.Edit { color: rgb(192,252,192) }
		&.Delete { color: rgb(252,192,192) }
		&:hover { color: rgb(252,242,242) }
	} // button

} // header
